@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// var
$white: #fff;
$black: #000;

$main: #012ba1;
$text: #012ba1;
$bg: #f8f8ff;
$wrapper: #fff;
$final: #012ba1;
$second: #012ba1;

$laptop: 1400px;
$tablet: 992px;
$mobile: 767px;
$smallMobile: 375px;

$pcbacismargin: 16px;

$mainFont: 'Montserrat', sans-serif;
$secondFont: 'Montserrat', sans-serif;
